<h2>Student Info: </h2>

<li>
<%= @student.name %>
<%= @student.major %>
<%= @student.age %>
</li>

<h3>Instructor</h3>
<%= @student.instructor.name %>

<%=form_for @student, method: :delete do |f| %>
<%=f.submit "Delete Student" %>

<% end %>
